body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-weight: bold;
    color: #040404;
    margin-bottom: 30px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #7dde07;
  }
  
  .input-group-text {
    background-color: #84b50a;
    color: white;
    border: none;
  }
  
  .btn-primary {
    background-color: #89d308;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #5ddb03;
  }
  